services:
  backend:
    build:
      context: ./back
      dockerfile: Dockerfile.prod
    ports:
      - "3000:3000"
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=password
      - DB_NAME=metropoli
    depends_on:
      - db
    networks:
      - app-network
    restart: always

  frontend:
    build:
      context: ./front
      dockerfile: Dockerfile.prod
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network
    restart: always

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: metropoli
    volumes:
      - db_data:/var/lib/mysql
      - ./back/src/data-access/create.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network

  mongo:
    image: mongo:8.0
    restart: always
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db_data:
  mongo_data:
