#root {
  margin: 0 auto;
  text-align: left;
}

html,
body,
#root {
  min-height: 100%;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.map-page-wrapper {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
