#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.map-page-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
