@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #ee2b4b;
  --color-background-light: #f8f6f6;
  --color-background-dark: #1a0c0e;
  --color-card-dark: #221013;
  --font-display: "Lexend", "sans-serif";
}

:root {
  --primary-color: #ee2b4b;
}

body {
  background-color: var(--color-background-dark);
  color: white;
  margin: 0;
  min-height: 100vh;
}

/* Custom Map Styles */
.map-container-bg {
  background-color: #12080a;
  background-image:
    radial-gradient(#ee2b4b 0.5px, transparent 0.5px),
    radial-gradient(#3a1b20 0.5px, transparent 0.5px);
  background-size: 30px 30px;
  background-position:
    0 0,
    15px 15px;
}

.track-path {
  filter: drop-shadow(0 0 12px rgba(238, 43, 75, 0.3));
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

.nav-fab-shadow {
  box-shadow:
    0 8px 25px -5px rgba(238, 43, 75, 0.6),
    0 10px 10px -5px rgba(238, 43, 75, 0.4);
}

/* Leaflet Overrides for Dark Mode */
.leaflet-container {
  background: transparent !important;
  width: 100%;
  height: 100%;
  outline: none !important;
}

/* Hide the focus outline explicitly for all interaction states */
.leaflet-container:focus,
.leaflet-interactive:focus {
  outline: none !important;
}

/* Remove default marker background/border for emoji or custom divs */
.custom-car-icon,
.custom-map-icon {
  background: transparent;
  border: none;
}

/* Custom DatePicker Styles */
#root .react-datepicker {
  @apply font-display border-slate-200 dark:border-slate-700 bg-white dark:bg-slate-900;
}

#root .react-datepicker__header {
  @apply bg-slate-50 dark:bg-slate-800 border-b border-slate-200 dark:border-slate-700;
}

#root .react-datepicker__current-month,
#root .react-datepicker-time__header {
  @apply text-slate-700 dark:text-slate-200 font-bold;
}

#root .react-datepicker__day-name {
  @apply text-slate-400 dark:text-slate-500;
}

#root .react-datepicker__day {
  @apply text-slate-700 dark:text-slate-300 hover:bg-primary hover:text-white rounded-full transition-colors;
}

#root .react-datepicker__day--selected {
  @apply bg-primary text-white font-bold;
}

#root .react-datepicker__day--keyboard-selected {
  @apply bg-primary/20 text-primary;
}

#root .react-datepicker__time-container {
  @apply border-l border-slate-200 dark:border-slate-700;
}

#root
  .react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box {
  @apply rounded-none;
}

#root .react-datepicker__time-list-item {
  @apply text-slate-700 dark:text-slate-300 hover:bg-slate-100 dark:hover:bg-slate-800;
}

#root .react-datepicker__time-list-item--selected {
  @apply bg-primary text-white;
}
